NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_WHATSAPP_GROUP_URL=https://chat.whatsapp.com/Fe6Bnw5EojHAlM112X8hXM?s=cl&p=a&ilr=4
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/rebelsonroads?igsh=anMyNTkwYzNwYjY0